* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;  
    /* scroll-behavior: smooth; */
    /* background-color:white; */
   
}
/* header{
    min-height: 10vh;
} */

footer{
    min-height: 20vh;
}