#contact{
 
    background-color:  #E8E5E3;
    min-height: 60vh;
}
#contact h2{
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 2vh;
    margin-bottom: 6vh;
    font-family:'Courier New', Courier, monospace;
}
#contact h2::after{
    content: '☆☆☆☆☆';
    display: block;
    text-align: center;
    color: #E56A48;
    font-size: 2rem;
}
.box{
    display: flex;
    flex: 1;
    gap: 20px;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.contact-item{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    /* background-color: aqua; */
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contact-item p{
    font-size: 2rem;
    font-family: 'quicksand';
}
.contact-item a{
    text-decoration: none;
}
.contact-item img{
    width: 50px;
}