#contact{
    display: flex;
    flex-direction: column;
    background-color:  #E8E5E3;
    min-height: 60vh;
}
#contact h2{
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 2vh;
    margin-bottom: 6vh;
}
#contact .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
    align-items: center; 
}

.info .item-info {
    display: flex;
    width: 300px;
    height: 100%; 
    text-align: center;
    align-items: center; 
    justify-content: center; 
}

.item-info .img{
    height: 30px;
}
.item-info a{
    text-decoration: none;
}
