/*seccion de contacto*/
#contact{
    background-color:  #E8E5E3;
    min-height: 60vh;
}
/*contenedor padre de la imagen de fondo*/
.container-img{
    display: flex;
    width: 100%; 
    position: absolute;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: -5;
}
/*imagen de fondo*/
.container-img img{
    max-width: 75%;
    min-width: 200px;
    opacity: .1;
    filter: drop-shadow(10px 10px 15px rgba(255, 0, 0, 0.541));/*agrega sombra a una imagen con fondo transparente*/
}

/*subtitulo de la seccion contacto*/
#contact h2{
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 2vh;
    margin-bottom: 6vh;
    font-family:'Courier New', Courier, monospace;
}
/*contenido que se agrega despues del subtitulo*/
#contact h2::after{
    content: '☆☆☆☆☆';
    display: block;
    text-align: center;
    color: #E56A48;
    font-size: 2rem;
}
/*caja padre que almacena todos los items*/
.box{
    display: flex;
    flex: 1;
    gap: 20px;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
/*cada item de la seccion contacto*/
.contact-item{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}
/*texto de cada items*/
.contact-item p{
    font-size: 2rem;
    font-family: 'quicksand';
}
/*link de cada item*/
.contact-item a{
    color:black;
    text-decoration: none;
    font-family: 'quicksand';
}
/*icono de cada item*/
.contact-item img{
    width: 50px;
}
.contact-item:hover{
    transform: scale(1.07);
}

@media (max-width: 480px) {
    #contact h2{
        font-size: 2rem;
    }
    .box{
        display: flex;
        justify-content:space-around;
    }
    .contact-item{
        height:auto;
        width: 150px;
    }
    .contact-item p{
        font-size: 1.2rem;
    }
    .contact-item img{
        width: 25px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #contact h2{
        font-size: 2.2rem;
    }
    .contact-item{
        height:80px;
        width: 180px;
    }
    .contact-item p{
        font-size: 1.6rem;
    }
    .contact-item img{
        width: 35px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #contact h2{
        font-size: 2.5rem;
    }
    .contact-item{
        height:100px;
        width: 220px;
    }
    .contact-item p{
        font-size: 1.7rem;
    }
    .contact-item img{
        width: 40px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    #contact h2{
        font-size: 2.8rem;
    }
    .contact-item{
        height:130px;
        width: 250px;
    }
    .contact-item p{
        font-size: 1.7rem;
    }
    .contact-item img{
        width: 45px;
    }
}

@media (min-width: 1441px) {
    #contact{
        min-height: 65vh;
    }
}
