@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Swanky+and+Moo+Moo&family=Tagesschrift&display=swap");

:root {
  --color-orange: #ef8354;
  --bg-secondary: #e9e8e9;
}

.text-orange {
  color: var(--color-orange);
}
.text-light-dark {
  color: rgb(215, 204, 204);
}
.bg-orange {
  background-color: var(--color-orange);
}
.bg-orange:hover {
  background-color: #cf5a3d !important;
}
.bg-secondary {
  background-color: var(--bg-secondary) !important;
}
.container-text {
  max-width: 650px;
  margin: 0 auto;
}
.text-gray {
  color: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
html,
body {
  flex: 1;
  font-family: quicksand;
  overflow-x: hidden;
  background-color: #ffffff;
}
nav {
  z-index: 11111;
}

/* 
Header */

.title {
  color: var(--color-orange);
  font-family: "Swanky and Moo Moo", cursive;
  font-weight: bolder;
}
.title span {
  color: rgb(85, 82, 82);
  font-weight: 100;
  font-family: "Swanky and Moo Moo", cursive;
  text-shadow: 0px 0px 1px #e2876d;
}

.title:hover {
  color: var(--color-orange);
}
/* Home */
#inicio {
  position: relative;
  top: 5dvh;
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 80dvh;
}
#inicio picture,
#inicio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
#inicio .content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
#inicio .bg-orange {
  transition: all 0.2s;
  z-index: 200000;
}
#inicio .bg-orange:hover {
  transform: scale(1.02);
}
#inicio .text-home {
  line-height: 25px;
}
#inicio #welcome-title {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: bolder;
}
/* About */
#nosotros .container-rounded {
  /* background-image: linear-gradient(to right bottom, #ef8354, #ef8354, #f9f2ef);
  box-shadow: 7px 10px 10px rgb(162, 161, 161); */
}

#nosotros .img img {
  object-fit: cover;
  max-width: 100%;
}
/* information */
#informacion .img-persona {
  max-width: 60%;
  filter: drop-shadow(1px 5px 1px var(--color-orange));
}

/* Contact */
.map {
  min-height: 20rem;
  z-index: 1;
}
/* iconos boton navbar */
.navbar-toggler-icon {
  transition: all 0.2s linear;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler-icon-close {
  transition: all 0.2s linear;
  background-image: url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/icons/x-lg.svg");
}
