header a.active {
    /* color: #007bff;  */
    border-bottom: 2px solid#E56A48;
  }
.container {
    display: flex;
    height: 13vh;
    position: fixed;
    background-color: black;
    /* background-color: rgb(243, 197, 129); */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
    padding: 0 20px;
    flex-wrap: wrap;
    font-size: 15px;
}

.logo img {
    height: 120px;
    width: auto;
    border-radius: 50%;
    transition: transform 0.3s ease;
    filter: drop-shadow(1px 1px 4px rgba(241, 158, 4, 0.514));
    /* background-color: #e2e1e10e; */
}

.logo img:hover {
    transform: scale(1.1);
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 50px;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-family: quicksand;
    height: 23px;
    transition: color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    border-bottom: 2px solid transparent;
    padding: 5px;
}
.nav-links a:hover{
    position: relative;
    border-bottom: 2px solid #E56A48;
    border-color: white;
}
.hamburguer{
    display:none;
    flex-direction: column;
    cursor: pointer;
}
.bar{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 4px 0;
    transition: 0.4s;
}

/*con el ancho maximo de 768px se ocultan los links y se muestra el menu amburguesa*/
@media (max-width: 768px){
    .container{
        display: flex;
        justify-content:space-between;
        padding: 0 20px;
    }
    .logo img {
        height: 85px;
    }
    /* .nav-links{
        display: none;
        position: absolute;
        top: 100%;
        right: 0%;
        width: 40%;
        flex-direction: column;
        text-align: center;;
        border-radius: 0 0 10px 10px;
        gap: 10px;
    } */
    .nav-links {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        flex-direction: column;
        text-align: center;
        border-radius: 0 0 10px 10px;
        background-color:#6e534b;
        gap: 10px;
    }

    .nav-links li{
        margin: 15px 0;
    }
    .hamburguer{
        display: flex;
    }
    /* .nav-links.show{
        display: flex;
        background-color: #6e534b;
  } */
  .nav-links.show {
    max-height: 300px; /* Ajusta según el contenido */
    opacity: 1;
}

}