/*contenedor padre de menú*/
#menu{
    position: relative;
    top: 13vh;
    min-height: 100vh;
    background-color:  #E8E5E3;
    
}
/*comtenedor padre de la imagen de fondo*/
.container-imgf{
    display: flex;
    width: 100%; 
    position: absolute;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: -5;
}
/*imagen de fondo*/
.container-imgf img{
    max-width: 75%;
    min-width: 200px;
    opacity: .4;
    filter: drop-shadow(10px 10px 15px rgba(255, 0, 0, 0.541));/*agrega sombra a una imagen con fondo transparente*/
}
/*titulo del menú*/
#menu h2 {
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    position: relative;
    top: 5vh; 
    margin: 0; 
    margin-bottom: 9vh;
}
/*contenido agregado despues del h2*/
#menu h2::after {
    content: '☆☆☆☆☆';
    display: block;
    text-align: center;
    color: #E56A48;
    /* margin-top: -40px;  */
    font-size: 2rem;
}
/*contenedor padre de cada elemento del menú*/
.container-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    padding: 0px 0px 20px  0px;
}
/*card de cada elemento menú*/
.menu-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F9F9F9;
    margin: 0 auto;
    max-width: 250px;
    max-height: 500px;
    padding: 10px;
    border-radius: 6px;
    transition: transform 0.3s ease-out;
   
}
/*imagen de cada elemento*/
.menu-item img{
    max-width: 100%;
    max-height: 115px;
    object-fit: cover;
    border-radius: 10px;
}
/*contenedor padre de la informacion de cada elemento*/
.item-info {
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", serif;
    gap: 10px;
    text-align: center;
    height: 100%;
    position: relative;
    padding-bottom: 55px; 
}
/*titulo de cada elemento de la card*/
.item-info h4{
    font-size: 2rem;
   font-family:'Times New Roman', Times, serif;
    font-style: oblique;
}
/*descripcion de cada card*/
.item-info p{
    text-align:center;
    font-size:1.6rem ;
    
}
/*precio en cada card*/
.item-info .price {
    background-color: #e56a4836;
    border-radius: 10px;
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.menu-item:hover{
    transform: scale(1.05);
}

@media (max-width: 480px) {
    #menu h2 {
        font-size: 2rem;
    }
    .container-menu {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-gap: 6px; 
    }  
    .menu-item:hover{
        transform: scale(1.01);
    }
    .item-info h4{
        font-size: 1.4rem;
    }
    .item-info p{
        font-size:1.2rem ;
        
    }
   
}

@media (min-width: 481px) and (max-width: 768px) {
    #menu h2 {
        font-size: 2.2rem;
    }
    .container-menu {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
  
    .menu-item:hover{
        transform: scale(1.02);
    }
    .item-info h4{
        font-size: 1.6rem;
    }
    .item-info p{
        font-size:1.3rem ;
        
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #menu h2 {
        font-size: 2.5rem;
    }
    .container-menu {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-gap: 6px;
    }
    .menu-item{
        margin-bottom: 10px;
    }
  
    .menu-item:hover{
        transform: scale(1.02);
    }
    .item-info h4{
        font-size: 1.8rem;
    }
    .item-info p{
        font-size:1.5rem ;
        
    }
 
}

@media (min-width: 1025px) and (max-width: 1440px) {
    #menu h2 {
        font-size: 2.8rem;
    }
    .container-menu {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 6px;
    }
    .menu-item{
        margin-bottom: 10px;
    }
  
    .menu-item:hover{
        transform: scale(1.02);
    }
    .item-info h4{
        font-size: 1.9rem;
    }
    .item-info p{
        font-size:1.6rem ;
        
    }
    
  
}

@media (min-width: 1441px) {
    .menu-item{
        margin-bottom: 10px;
    }
}


